header{
  z-index: 10001;
}
div.container{
  display: table;
}
.mb-15{
  margin-bottom: 15px;
}

.bg-my{
  /*background-color: #00880033;*/
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.header-font{
  font-family: 'Courier New', monospace;
  font-weight: bolder;
}

/* Slider */
.div-slideshow { position: relative; }
.div-slideshow img {
  position: absolute;
  top: 0; left: 0;
  z-index: 3;
  animation: slideshow 12s linear 0s infinite;
  width: 100%;
  height: 300px;
}
.div-slideshow img:nth-child(2) {
  z-index: 2;
  animation-delay: 4s;
}
.div-slideshow img:nth-child(3) {
  z-index: 1;
  animation-delay: 8s;
}
@keyframes slideshow {
  25% { opacity: 1;}
  33.33% { opacity: 0;}
  91.66% { opacity: 0;}
  100% { opacity: 1;}
}
