
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12" style="text-align: center;margin-top: 1em">
            <h1>
                List Number/Count Books
            </h1>
            <hr>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-5">
            <!--                <div th:if="${hasError}">-->
            <!--                    <div th:text="${error}"></div>-->
            <!--                </div>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-outline-warning mb-15" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</a>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> Seriski Broj </th>
                    <th> VKUPNO </th>
                    <th> AVAILABLE </th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="book:${bookNumberList}">
                    <td th:text="${book.getSeriskiBroj()}"></td>
                    <td th:text="${book.getVKUPNO()}"></td>
                    <td th:text="${book.getAVAILABLE()}"></td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>

    </div>
</div>
