<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-inverse bg-my">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Library</a>
            </div>
            <div class="navbar-header navbar-right">
                <a class="btn btn-light" href="/search"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Search  </a>
                <a class="btn btn-light" href="/orders"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  List user orders  </a>
                <a class="btn btn-light" href="/orders/user-shopping-carts"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  List user shopping carts  </a>
                <a class="btn btn-light" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>  Log out  </a>
            </div>
        </div>
    </nav>
</header>
