
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12" style="text-align: center;margin-top: 1em">
            <h1>
                Zachlenuvanje Form
            </h1>
            <hr>
        </div>
    </div>
    <br>

    <div class="row">
        <!--        <div class="col-md-5">-->
        <!--            <div th:if="${hasError}">-->
        <!--                <div th:text="${error}"></div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-outline-warning mb-15" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</a>
        </div>

        <div class="col-md-12">
            <form th:action="@{'/forms/zachlenuvanje'}" th:method="post" >
                <div class="form-group">
                    <label for="embg">EMBG </label>
                    <input type="text" id="embg" name="embg" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="ime">Ime </label>
                    <input type="text" id="ime" name="ime" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime </label>
                    <input type="text" id="prezime" name="prezime" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="date">Den Mesec Godina</label>
<!--                    <input type="text" id="day" name="day" class="form-control" required-->
<!--                           style="width: 50px;display: inline-block;">-->
<!--                    <input type="text" id="month" name="month" class="form-control" required-->
<!--                           style="width: 50px;display: inline-block;">-->
<!--                    <input type="text" id="year" name="year" class="form-control" required-->
<!--                           style="width: 90px;display: inline-block;">-->
                    <input type="date" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <label for="adresa_na_ziveenje">Adresa Na Ziveenje</label>
                    <input type="text" id="adresa_na_ziveenje" name="adresa_na_ziveenje" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="telefonski_broj">Telefonski Broj</label>
                    <input type="text" id="telefonski_broj" name="telefonski_broj" class="form-control"
                           required>
                </div>
                <br>
                <button id="submit" type="submit" style="float: right;" class="btn btn-outline-primary">  Submit  <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>

            </form>
        </div>
    </div>

</div>
